{% extends "public/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Hero Carousel -->

<section class="hero">

    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Carousel Indicators -->

        <div class="carousel-indicators">

            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1">
            </button>

            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2">
            </button>

        </div>


        <!-- Carousel Slides -->

        <div class="carousel-inner">

            <!-- Slide 1 -->

            <div class="carousel-item active">

                <div class="hero-slide hero-slide-1">
                    <div class="hero-overlay">

                        <div class="container hero-content">

                            <h1>
                                Vikram Sodhi Centre of Excellence for
                                AI-Enabled Geological and Mining Systems
                            </h1>

                            <h3>
                                Some tagline
                            </h3>

                            <p>
                                Empowering students through cutting-edge education,
                                impactful research and industry collaboration.
                            </p>

                        </div>

                    </div>

                </div>

            </div>


            <!-- Slide 2 -->

            <div class="carousel-item">

                <div class="hero-slide hero-slide-2">

                    <div class="hero-overlay">

                        <div class="container hero-content">

                            <h1>
                                Vikram Sodhi Centre of Excellence for
                                AI-Enabled Geological and Mining Systems
                            </h1>

                            <h3>
                                Some tagline
                            </h3>

                            <p>
                                Empowering students through cutting-edge education,
                                impactful research and industry collaboration.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <!-- Previous Button -->

        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">

            <span class="carousel-control-prev-icon"></span>

            <span class="visually-hidden">
                Previous
            </span>

        </button>


        <!-- Next Button -->

        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">

            <span class="carousel-control-next-icon"></span>

            <span class="visually-hidden">
                Next
            </span>

        </button>

    </div>

</section>

<section class="news-events py-5">
    <div class="container">

        <!-- <h2 class="section-title text-center mb-5">
            Latest Updates
        </h2> -->

        <div class="row"> <!-- NEWS -->
            <div class="col-lg-6 mb-4">

                <div class="update-card">

                    <h3 class="update-title">
                        <!-- <i class="fa-solid fa-newspaper"></i> -->
                        News
                    </h3>

                    <div class="update-item">
                        <h5>AI Workshop Announced</h5>

                        <p>
                            A hands-on workshop introducing students to modern AI.
                            <br>
                            <strong>Registration Deadline:</strong> 25 Aug 2026
                        </p>

                        <a href="#">
                            Read More
                        </a>

                        <div class="post-date">
                            Posted on 12 Aug 2026
                        </div>
                    </div>

                    <hr>

                    <div class="update-item">
                        <h5>New Faculty Joined</h5>

                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>

                        <a href="#">
                            Read More
                        </a>

                        <div class="post-date">
                            Posted on 08 Aug 2026
                        </div>
                    </div>

                </div>

            </div>

            <!-- EVENTS -->

            <div class="col-lg-6 mb-4">
                <div class="update-card">

                    <h3 class="update-title">
                        <!-- <i class="fa-solid fa-calendar-days"></i> -->
                        Upcoming Events
                    </h3>

                    <div class="update-item">
                        <h5>Guest Lecture</h5>

                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>

                        <a href="#">
                            Read More
                        </a>

                        <div class="post-date">
                            Posted on 01 Aug 2026
                        </div>
                    </div>

                    <hr>

                    <div class="update-item">

                        <h5>Research Symposium</h5>

                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>

                        <a href="#">
                            Read More
                        </a>

                        <div class="post-date">
                            Posted on 02 Aug 2026
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<!-- Director's Message -->

<section class="director-message">

    <div class="container">

        <div class="row align-items-center">

            <!-- Director Image -->

            <div class="col-md-4 text-center director-image-wrapper">

                <img src="{{ url_for('static', filename='images/hod.png') }}" alt="Director" class="director-image">

                <h4>
                    <a href="https://www.iitkgp.ac.in/department/CL/faculty/cl-mdbehera" class="director-name">
                        Prof. Mukunda Dev Behera
                    </a>
                </h4>

                <p>
                    Chairperson
                </p>

            </div>


            <!-- Director Message -->

            <div class="col-md-8 director-content">

                <span class="director-label">
                    MESSAGE FROM THE CHAIRPERSON
                </span>

                <!-- <h2>
                    Welcome to the Vikram Sodhi Centre of Excellence
                </h2> -->

                <p>
                    The Vikram Sodhi Centre of Excellence for AI-Enabled Geological and Mining Systems at IIT Kharagpur
                    reflects a bold vision to advance India's mining sector through cutting-edge research, innovation,
                    and strong partnerships with industry, government, and leading national and international research
                    institutions. Established as a Centre of Excellence (CoE) from its inception, it is committed to
                    delivering impactful research, industrial relevance, and academic excellence.
                </p>

                <div class="collapse" id="directorFullMessage">

                    <p>
                        The CoE focuses on developing AI-enabled solutions for mineral exploration by integrating
                        multi-source geoscientific data, embedding geological mineralisation models, leveraging analogue
                        deposit data, and creating repeatable workflows for generating drill-ready exploration targets.
                        Its
                        research spans terrestrial and deep-sea mining, with special emphasis on critical minerals such
                        as
                        lithium, copper, antimony, rare earth elements (REEs), and other strategic resources
                    </p>

                    <p>
                        Building on IIT Kharagpur's long-standing strengths in Geology, Geophysics, Mining Engineering,
                        Metallurgy, Computer Science combined with its capabilities in Artificial Intelligence and Data
                        Science, the CoE provides a unique interdisciplinary platform for research, consultancy,
                        innovation,
                        and capacity building. It also aims to promote internships, advanced research, executive
                        education,
                        certificate programmes, and future academic programmes in AI-enabled Mining Systems and study of
                        Critical Minerals.
                    </p>

                    <p>
                        The CoE warmly welcomes students, researchers, faculty members, industry leaders, policymakers,
                        government agencies, and inter-/national collaborators to join this transformative initiative.
                        Through collective expertise and shared commitment, we aspire to build a vibrant ecosystem that
                        drives scientific excellence, technological innovation, sustainable resource development and
                        strategic capability for the future of mining geology using AI technology. This will lead to
                        resource optimization, both in terms of manpower and financial resources.
                    </p>

                </div>


                <a class="director-link" data-bs-toggle="collapse" href="#directorFullMessage" role="button"
                    aria-expanded="false" aria-controls="directorFullMessage">

                    <span class="read-more-text">Read More</span>
                    <i class="fa-solid fa-arrow-right"></i>

                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}

{% block scripts %}

<script>

    const directorMessage = document.getElementById('directorFullMessage');
    const readMoreText = document.querySelector('.read-more-text');
    const readMoreIcon = document.querySelector('.director-link i');

    directorMessage.addEventListener('shown.bs.collapse', function () {

        readMoreText.textContent = 'Read Less';

        readMoreIcon.classList.remove('fa-arrow-right');
        readMoreIcon.classList.add('fa-arrow-up');

    });

    directorMessage.addEventListener('hidden.bs.collapse', function () {

        readMoreText.textContent = 'Read More';

        readMoreIcon.classList.remove('fa-arrow-up');
        readMoreIcon.classList.add('fa-arrow-right');

    });

</script>

{% endblock %}