{% extends "public/base.html" %}

{% block title %}
Research Verticals
{% endblock %}

{% block content %}

<section class="research-page">

    <div class="container">

        <div class="research-header">
            <h1>Research Verticals</h1>

            <p>
                Explore the research verticals of the Vikram Sodhi Centre
                of Excellence for AI-Enabled Geological and Mining Systems.
            </p>
        </div>


        <div class="research-list">

            <!-- GC1 -->

            <div class="research-item">

                <button class="research-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#gc1"
                        aria-expanded="false"
                        aria-controls="gc1">

                    <span>GC1</span>

                    <i class="fa-solid fa-plus"></i>

                </button>

                <div class="collapse research-description" id="gc1">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        This research vertical focuses on innovative approaches,
                        interdisciplinary research and emerging technologies.
                    </p>

                    <a href="#" class="research-link">
                        Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

                </div>

            </div>


            <!-- GC2 -->

            <div class="research-item">

                <button class="research-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#gc2"
                        aria-expanded="false"
                        aria-controls="gc2">

                    <span>GC2</span>

                    <i class="fa-solid fa-plus"></i>

                </button>

                <div class="collapse research-description" id="gc2">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        This research vertical explores new methods and
                        technologies for solving complex real-world problems.
                    </p>

                    <a href="#" class="research-link">
                        Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

                </div>

            </div>


            <!-- GC3 -->

            <div class="research-item">

                <button class="research-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#gc3"
                        aria-expanded="false"
                        aria-controls="gc3">

                    <span>GC3</span>

                    <i class="fa-solid fa-plus"></i>

                </button>

                <div class="collapse research-description" id="gc3">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        This research vertical focuses on research,
                        collaboration and technological innovation.
                    </p>

                    <a href="#" class="research-link">
                        Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

                </div>

            </div>


            <!-- GC4 -->

            <div class="research-item">

                <button class="research-toggle"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#gc4"
                        aria-expanded="false"
                        aria-controls="gc4">

                    <span>GC4</span>

                    <i class="fa-solid fa-plus"></i>

                </button>

                <div class="collapse research-description" id="gc4">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        This research vertical brings together academic
                        expertise, innovation and industry collaboration.
                    </p>

                    <a href="#" class="research-link">
                        Learn More
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}